{% extends 'website/base.html' %}

{% block title %}
    Partie en cours WIP
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="ui segment">
            <h1 class="ui center"> Ceci est une partie en cours ! </h1>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segment">
           <p>{{ message }}</p>
            <form action="{% url "currentGame" %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><label for="id_message">Message:</label> <textarea id="id_message" rows="5" cols="40" name="message"></textarea></p>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segment">
           <p><a href="{% url 'home' %}">Page d'accueil</a></p>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}