{% extends 'website/includes/base.html' %}
{% load staticfiles %}

{% block title %}
    Partie en cours WIP
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="ui segment">
            <h1 class="ui center"> Ceci est une partie en cours ! id : {{ id }}</h1>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segment">
            <div class="ui comments">
                <h3 class="ui dividing header">Chat</h3>
                {% for post in chat %}
                    <div class="comment">
                        <a class="avatar">
                            <img src="{% static 'images/profile.jpg' %}">
                        </a>
                        <div class="content">
                            <a class="author">{{ post.sender.nickname }}</a>
                            <div class="metadata">
                                <span class="date">{{ post.pub_date }}</span>
                            </div>
                            <div class="text">
                                {{ post.content }}
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <form action="" method="post" class="ui reply form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="field">
                        <textarea id="id_message" name="message"></textarea>
                    </div>
{#                    <div class="ui blue labeled submit icon button">#}
{#                        <i class="icon edit"></i> Send message#}
{#                    </div>#}
                    <input type="submit" value="Submit" class="ui button"/>
                </form>
            </div>


        </div>
    </div>
    <div class="ui container">
        <div class="ui segment">
            <p><a href="{% url 'home' %}">Page d'accueil</a></p>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}