{% extends 'website/includes/base.html' %}

{% block title %}
    Liste des parties WIP
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="ui segment">
            <h1 class="ui center"> Ceci est la liste des parties! </h1>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segment">
            <h3 class="ui dividing header">Villages en construction :</h3>
            {% for game in gamesBeingCreated %}
                <p>{{ game.name }}</p>
            {% endfor %}
            <h3 class="ui dividing header">Autre villages de la région :</h3>
            {% for game in gamesStarted %}
                <p>{{ game.name }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="ui container">
        <div class="ui segment">
           <p><a href="{% url 'home' %}">Page d'accueil</a></p>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}