{% extends 'website/base.html' %}

{% block title %}
    Accueil {{ user.username }}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="ui segment">
            <h1 class="ui center"> Ceci est l'accueil ! </h1>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segment">
            <p><a href="{% url 'currentGame' 0 %}">Partie en cours</a></p>
        </div>
        <div class="ui segment">
        <p>Vous êtes {{ player.nickname }}</p>
        <p> La liste de vos parties en cours:</p>
            {% for game in games_list %}
                <p><a href="{% url 'currentGame' game.id %}">{{ game.name }}</a></p>
            {% endfor %}
        </div>
    </div>
    <div class="ui container">
        <div class="ui segment">
            <p><a href="{% url 'gameList' %}">Liste des parties</a></p>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segment">
            <p><a href="{% url 'help' %}">Aide</a></p>
        </div>
    </div>
    <div class="ui center aligned grid">
        <div class="column">
            <div class="ui">
                <a href="{% url 'logout' %}">
                    <i class="sign out icon">
                        Sign Out
                    </i>
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}{% endblock %}