{% extends 'website/base.html' %}

{% block title %}
    Accueil {{ user.username }}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="ui segment">
            <h1 class="ui center"> Ceci est l'accueil ! </h1>
        </div>
    </div>
{#    {% for user in user_list %}#}
{#        <div class="ui container">#}
{#            <div class="ui segment">#}
{#                <p class="ui center"> {{ user.username }} </p>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
    <div class="ui container">
        <div class="ui segment">
            <p><a href="{% url 'gameList' %}">Liste des parties</a></p>
        </div>
    </div>

{% endblock %}

{% block footer %}{% endblock %}